{% extends 'tripmate/base.html' %}
{% load static %}

{% block content %}
<div>
  <img class="background" src="{% static 'images/background2.jpg' %}" alt="">

    <div>
      
        <h1 class="Welcome">
          Welcome to <img src="/static/images/logo.png" alt="Trip Mates" class="logo-text">
          </h1>
          
        <h3 class="text1">"where every journey shared is a new adventure discovered <br> Connect, Explore and Inspire with fellow travelers from around the globe!”</h3>
          <br>
          <h3 class="text1">Try to post something and make friends!</h3>
    </div>     
</div>
{% endblock %}