{% extends 'tripmate/base.html' %}
{% load static %}

{% block content %}
<main>
    <form id="login_form" method="post">
        {% csrf_token %}
        <img class="background" src="{% static 'images/logo.jpg' %}" alt="Logo">
        <h2>Login</h2>
        {{ form.non_field_errors }}
        <label for="id_username">Username:</label>
        {{ form.username }}

        <label for="id_password">Password:</label>
        {{ form.password }}

        <input type="submit" value="Login" />

        <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
    </form>
</main>
{% endblock %}