{% extends 'tripmate/base.html' %}
{% load static %}

{% block content %}
<main class="profile-page">
    <img class="background" src="{% static 'images/background5.jpg' %}" alt="">

    <div class="profile-header">
        <div class="profile-picture-container">
            {% if user.userprofile.picture %}
                <img src="{{ user.userprofile.picture.url }}" alt="Profile Photo" class="profile-picture">
            {% else %}
                <img src="{% static 'images/default-profile.jpg' %}" alt="Default Photo" class="profile-picture">
            {% endif %}
        </div>
        <div class="profile-info">
            <div class="username-container">
                <h2>{{ user.username }}</h2>
                <a href="{% url 'edit_profile' %}" class="edit-profile-button">Edit Profile</a>
            </div>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Gender:</strong> {{ user.userprofile.gender|title }}</p>
            <p><strong>Bio:</strong> <span class="bio-text">{{ user.userprofile.bio|linebreaks }}</span></p>
        </div>
    </div>

    <hr>

    <div class="friends-section">
        <h3>Your Friends</h3>
        {% if friends %}
        <div class="friends-list">
            {% for friend in friends %}
            <div class="friend">
                <a href="{% url 'view_profile' friend.user.username %}" class="friend-link">
                    {% if friend.picture %}
                        <img src="{{ friend.picture.url }}" alt="{{ friend.user.username }}" class="friend-picture">
                    {% else %}
                        <img src="{% static 'images/default-profile.jpg' %}" alt="Default" class="friend-picture">
                    {% endif %}
                    <span class="friend-username">{{ friend.user.username }}</span>
                </a>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>You don't have any friends yet.</p>
        {% endif %}
    </div>
</main>
{% endblock %}
