{% extends 'tripmate/base.html' %}
{% load static %}

{% block content %}
<main class="search-page">
  <form method="get" action="{% url 'search' %}" class="search-form">
    <img class="background" src="{% static 'images/background4.jpg' %}" alt="">
    <img class="" src="{% static 'images/logo.png' %}" alt="Logo">
    <div class="search-container">
      <input type="text" name="q" placeholder="Search by caption..." value="{{ query }}" class="search-bar">
      <button type="submit" class="search-button">Search</button>
    </div>
  </form>

  {% if query %}
    <div class="results-container">
      {% if results %}
        <ul>
          {% for post in results %}
            <li>
              <strong><a href="{% url 'view_profile' post.user.username %}">
                {{ post.user.username }}
              </a></strong>: {{ post.caption }}
              {% if post.image %}
                <br><img src="{{ post.image.url }}" alt="Post Image" style="width: 150px; margin-top: 10px;">
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>No results found.</p>
      {% endif %}
    </div>
  {% endif %}
</main>
{% endblock %}
